{# <footer class="fixed-bottom">
            <div clas="infoFooter">
                {# <a href="#" class="apropos sm-4 mg-4 lg-4">A propos</a>
                <a href="#" class="contacter ">Nous contacter</a> 
                <div class="apropos col-4"><b><i> A propos</i></b></div>
                <div class="contacter col-8">Nous Contacter</div>
            </div>
        </footer>
     #}


<div class="" id="footerX">
	<div class="">
		<footer>
			<nav
				class="navbar navbar-expand-md footer">
				<!-- <a href="#" class="navbar-brand">M</a> -->
				<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-expanded="false" aria-lable="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="toggleMobileMenu">
					<ul class="navbar-nav text-center">
						<div>
							<a class="nav-link apropos" href="#">A propos</a>
						</div>

						<div>
							<a class="nav-link contacter" href="#">Nous contacter</a>
						</div>
					</ul>
				</div>
			</nav>
		</footer>
	</div>
</div>
