<h1>Bonjour! Veuillez confirmer votre email svp!</h1>

<p>
    Svp veuillez confirmer votre adresse mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirme mon Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    super!
</p>
