{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row">

			{% for categorie in categories %}
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 ">
					<div class="bordure-grise px-3 pt-3 mb-3 shadow">
						<a href="/categorie/{{ categorie.id }}">
							<img class="img-fluid w-100" src="/images/{{ categorie.image }}">
							<h4 class="text-center">
								{{ categorie.CatNom}}
							</h4>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>

		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos quos necessitatibus iusto distinctio consequuntur earum eos quae ab corrupti! Pariatur perferendis eaque iure laborum aliquid deserunt, enim exercitationem veniam.
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos quos necessitatibus iusto distinctio consequuntur earum eos quae ab corrupti! Pariatur perferendis eaque iure laborum aliquid deserunt, enim exercitationem veniam.
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos quos necessitatibus iusto distinctio consequuntur earum eos quae ab corrupti! Pariatur perferendis eaque iure laborum aliquid deserunt, enim exercitationem veniam.
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos quos necessitatibus iusto distinctio consequuntur earum eos quae ab corrupti! Pariatur perferendis eaque iure laborum aliquid deserunt, enim exercitationem veniam.
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos quos necessitatibus iusto distinctio consequuntur earum eos quae ab corrupti! Pariatur perferendis eaque iure laborum aliquid deserunt, enim exercitationem veniam.
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos quos necessitatibus iusto distinctio consequuntur earum eos quae ab corrupti! Pariatur perferendis eaque iure laborum aliquid deserunt, enim exercitationem veniam.
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos quos necessitatibus iusto distinctio consequuntur earum eos quae ab corrupti! Pariatur perferendis eaque iure laborum aliquid deserunt, enim exercitationem veniam.
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos quos necessitatibus iusto distinctio consequuntur earum eos quae ab corrupti! Pariatur perferendis eaque iure laborum aliquid deserunt, enim exercitationem veniam.
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos quos necessitatibus iusto distinctio consequuntur earum eos quae ab corrupti! Pariatur perferendis eaque iure laborum aliquid deserunt, enim exercitationem veniam.
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos quos necessitatibus iusto distinctio consequuntur earum eos quae ab corrupti! Pariatur perferendis eaque iure laborum aliquid deserunt, enim exercitationem veniam.
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos quos necessitatibus iusto distinctio consequuntur earum eos quae ab corrupti! Pariatur perferendis eaque iure laborum aliquid deserunt, enim exercitationem veniam.
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos quos necessitatibus iusto distinctio consequuntur earum eos quae ab corrupti! Pariatur perferendis eaque iure laborum aliquid deserunt, enim exercitationem veniam.
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos quos necessitatibus iusto distinctio consequuntur earum eos quae ab corrupti! Pariatur perferendis eaque iure laborum aliquid deserunt, enim exercitationem veniam.
		</div>
		<div>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo vel explicabo pariatur temporibus quia, aspernatur in iusto neque nisi illo sed fugiat quod, quaerat, assumenda commodi nam minima consequuntur molestiae.
		</div>
		<div>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, iure voluptate dolores accusantium quidem ad nobis optio illo tempore doloribus atque enim id blanditiis odit! Quis repudiandae autem eligendi repellat debitis earum sit blanditiis commodi nihil, aliquid sequi eos exercitationem ducimus? Vero quos distinctio nobis totam perferendis, sequi dolore libero.
		</div>
		<div>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, iure voluptate dolores accusantium quidem ad nobis optio illo tempore doloribus atque enim id blanditiis odit! Quis repudiandae autem eligendi repellat debitis earum sit blanditiis commodi nihil, aliquid sequi eos exercitationem ducimus? Vero quos distinctio nobis totam perferendis, sequi dolore libero.
		</div>
		<div>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, iure voluptate dolores accusantium quidem ad nobis optio illo tempore doloribus atque enim id blanditiis odit! Quis repudiandae autem eligendi repellat debitis earum sit blanditiis commodi nihil, aliquid sequi eos exercitationem ducimus? Vero quos distinctio nobis totam perferendis, sequi dolore libero.
		</div>
		<div>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, iure voluptate dolores accusantium quidem ad nobis optio illo tempore doloribus atque enim id blanditiis odit! Quis repudiandae autem eligendi repellat debitis earum sit blanditiis commodi nihil, aliquid sequi eos exercitationem ducimus? Vero quos distinctio nobis totam perferendis, sequi dolore libero.
		</div>
		<div>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, iure voluptate dolores accusantium quidem ad nobis optio illo tempore doloribus atque enim id blanditiis odit! Quis repudiandae autem eligendi repellat debitis earum sit blanditiis commodi nihil, aliquid sequi eos exercitationem ducimus? Vero quos distinctio nobis totam perferendis, sequi dolore libero.
		</div>
		<div>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, iure voluptate dolores accusantium quidem ad nobis optio illo tempore doloribus atque enim id blanditiis odit! Quis repudiandae autem eligendi repellat debitis earum sit blanditiis commodi nihil, aliquid sequi eos exercitationem ducimus? Vero quos distinctio nobis totam perferendis, sequi dolore libero.
		</div>
		<div>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, iure voluptate dolores accusantium quidem ad nobis optio illo tempore doloribus atque enim id blanditiis odit! Quis repudiandae autem eligendi repellat debitis earum sit blanditiis commodi nihil, aliquid sequi eos exercitationem ducimus? Vero quos distinctio nobis totam perferendis, sequi dolore libero.
		</div>
		<div>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, iure voluptate dolores accusantium quidem ad nobis optio illo tempore doloribus atque enim id blanditiis odit! Quis repudiandae autem eligendi repellat debitis earum sit blanditiis commodi nihil, aliquid sequi eos exercitationem ducimus? Vero quos distinctio nobis totam perferendis, sequi dolore libero.
		</div>
		<div>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, iure voluptate dolores accusantium quidem ad nobis optio illo tempore doloribus atque enim id blanditiis odit! Quis repudiandae autem eligendi repellat debitis earum sit blanditiis commodi nihil, aliquid sequi eos exercitationem ducimus? Vero quos distinctio nobis totam perferendis, sequi dolore libero.
		</div>
		<div>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, iure voluptate dolores accusantium quidem ad nobis optio illo tempore doloribus atque enim id blanditiis odit! Quis repudiandae autem eligendi repellat debitis earum sit blanditiis commodi nihil, aliquid sequi eos exercitationem ducimus? Vero quos distinctio nobis totam perferendis, sequi dolore libero.
		</div>
		<div>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, iure voluptate dolores accusantium quidem ad nobis optio illo tempore doloribus atque enim id blanditiis odit! Quis repudiandae autem eligendi repellat debitis earum sit blanditiis commodi nihil, aliquid sequi eos exercitationem ducimus? Vero quos distinctio nobis totam perferendis, sequi dolore libero.
		</div>
		<div>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, iure voluptate dolores accusantium quidem ad nobis optio illo tempore doloribus atque enim id blanditiis odit! Quis repudiandae autem eligendi repellat debitis earum sit blanditiis commodi nihil, aliquid sequi eos exercitationem ducimus? Vero quos distinctio nobis totam perferendis, sequi dolore libero.
		</div>
		<div>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, iure voluptate dolores accusantium quidem ad nobis optio illo tempore doloribus atque enim id blanditiis odit! Quis repudiandae autem eligendi repellat debitis earum sit blanditiis commodi nihil, aliquid sequi eos exercitationem ducimus? Vero quos distinctio nobis totam perferendis, sequi dolore libero.
		</div>
		
		<div>
			xxxxxxxxxxxxxxxxxxxxxxxx
		</div>

	</div>

{% endblock %}
